header {
    background: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.nav-bar {
    width: 500px;
    a {
        text-decoration: none;
        color: var(--data-color-secondary);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        font-size: 24px; 
    }
}

ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

li{
    list-style-type: none;
}

.logo img {
    width: 80%;
}

/*Mobile*/
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    .logo img {
        width: 100%;
    }

    .nav-bar a {
        font-size: 16px;
        text-transform: uppercase;
    }

}