header {
    background: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    color: #ff6464;
    padding: 30px 50px;
}

.nav-bar {
    width: 500px;
}

ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 15px;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FF6060;
    padding: 15px;
    font-size: 24px;
    
}
.logo img {
    width: 80%;
}