.slideshow {
  display: flex;
  flex-direction: column;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  .counter {
    color: white;
  }
}

.carousel img {
  width: 100%;
  height: 500px;
  transition: transform 0.3s ease-in-out;
  border-radius: 30px;
  object-fit: cover;
  position: relative;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.carousel p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow-left {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 4em;
  z-index: 1;
  left: 0;
  padding: 20px;
}
.arrow-right {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 4em;
  z-index: 1;
  right: 0;
  padding: 20px;
}

@media (max-width: 768px) {
  .carousel {
    img {
      height: 250px;
    }
  }
  .arrow-left {
    font-size: 2rem;
  }

  .arrow-right {
    font-size: 2rem;
  }
}
