.aboutpage {
    padding: 30px 100px;
}

.collapse-open {
    background-color: var(--data-color-secondary);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.collapse button {
    color: white;
    text-decoration: none;
    border: none;
    background-color: var(--data-color-secondary);
    font-size: 24px;
    cursor: pointer;
}


.collapse-content {
    background-color: #F6F6F6;
    color: var(--data-color-secondary);
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    p {
        padding: 20px;
    }
}



/*Mobile*/
@media (max-width: 768px) {
    .aboutpage {
        padding: 10px 0;
    }
    .collapse-open {
        font-size: 18px;
        padding-bottom: 20px;
    }
}