.Cards {
    padding: 0 50px;
}


.block-card {
    position: relative;
    background-color: #F6F6F6;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    

}

.location-card {
    width: 100%;
    max-width: 300px; 
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    display: flex;
    flex-direction: column;
}

.location-card img {
    width: 100%;
    height: auto;
    border-radius: 30px; 
}

.location-card h2{
    margin: 10px; 
    font-size: 18px;
    font-weight: bold;
    color: white; 
}