.informations {
  display: flex;
  margin-top: 20px;
}

.left-side {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: var(--data-color-secondary);
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  gap: 20px;

  .profil {
    text-align: right;
    display: flex;
    align-items: center;

    .name {
      color: var(--data-color-secondary);
      font-size: 18px;
      width: 50%;
    }
    .photo {
      width: 50%;

      img {
        border-radius: 50%;
        width: 70px;
      }
    }
  }

  .rating {
    .star {
      color: grey;
      padding: 4px;
      font-size: 20px;
    }
    .active {
      color: var(--data-color-secondary) !important;
    }
  }
}

.logement-collapse {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;

  .collapse {
    width: 100%;

    .collapse-content {
      p {
        padding: 20px;
        font-size: 18px;
      }
    }
    .collapse-open {
      padding: 10px;
      font-size: 18px;
    }
  }
}

.tags {
  display: flex;
  gap: 1rem;

  p {
    display: flex;
    background-color: var(--data-color-secondary);
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    width: auto;
    justify-content: center;
    font-size: 14px;
  }
}

/*Responsive*/
@media (max-width: 768px) {
  .informations {
    flex-direction: column;
  }

  .right-side {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .rating {
      flex-wrap: wrap;
      .star {
        padding: 2px;
      }
    }
  }

  .left-side {
    width: 100%;
    .tags {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  .logement-collapse {
    flex-direction: column;
    gap: 0;
  }
}
